<!DOCTYPE html>
<html>
<head>
    <title>Student List & GPA</title>
</head>
<body>
    <h1>All Students and Their GPA</h1>
    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Matric No</th>
            <th>GPA</th>
            <th>Courses</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.matric }}</td>
            <td>{{ student.gpa }}</td>
            <td>
                <ul>
                    {% for course in student.courses %}
                    <li>{{ course.course_name }} – {{ course.score }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
